.img-container {
width: 778px;
height: 464px;
padding-left: 148px;
position: absolute;
left: 970px;
top: 1490px;
}
.text-content img{
position: absolute;
    width: 150px;
    height: 0px;
    left: 280px;
    top: 1495px;

  

    border: 5px solid #FA5E01;
}
.text-content h1{
font-family: 'Open Sans ';
font-weight: Bold ;
font-size: 60px ;
line-height: 82px ;
line-height: 100% ;
text-align: Left ;
vertical-align: Top;
margin-top: 20px;
margin-bottom: 70px;
position: absolute;
    width: 394px;
    height: 82px;
    left: 280px;
    top: 1515px;
}
.text-content p{
    font-family: 'Open Sans ';
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        line-height: 113%;
        text-align: Left;
        vertical-align: Top;
        margin-bottom: 75px;
        position: absolute;
            width: 542px;
            height: 136px;
            left: 280px;
            top: 1667px;
}
.learn-more-btn{
    box-sizing: border-box;
    
    position: absolute;
        
    left: 280px;
    top: 1867px;
    
    background: #FFFFFF;
    width: 246px ;
    Height: 70px;
    font-family: 'Open Sans ';
    font-weight: 300;
    font-size: 24px;
    line-height: 48px;
    line-height: 147%;
    text-align: Left;
    vertical-align: Top;
    padding: 11px 56px;
    color: #FA5E01;
    border:2px solid #FA5E01;
    margin-right: 444px;
}
.learn-more-btn:hover{
    color: #FFFFFF;
       background: #FA5E01;
       cursor: pointer;
}
.count-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
        width: 920px;
        height: 246px;
        left: 720px;
        top: 1832px;
        background: #FFF9F5;
     
}
.count-number h1{
    font-family: 'Open Sans' ;
    font-style: SemiBold;
     font-size: 60px ;
     line-height: 82px ;
     line-height: 100% ;
    text-align: Left;
    padding-left: 134px;
}
.count-number p {
    font-family: 'Open Sans';
    font-style: SemiBold;
    font-size: 18px;
    line-height: 25px;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    padding-left: 134px;
}