.subscribe-container{
    width: 900px;
        height: 295px;
        position: absolute;
        left: 510px;
        top: 4700px;
        background: #FA5E01;
        margin-bottom: 40px;
        
}
.subscribe-container h1{
    position: absolute;
        height: 54px;
        padding-left: 48px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        top: 48px;
        color: #FFFFFF;
}
.form p{
    position: absolute;
    height: 25px;
    left: 48px;
    margin-bottom: 48px;
    top: 118px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    color: #FFFFFF;
}
input{
    margin-top: 160px;
    width: 500px;
    padding: 15px;
    margin-left: 48px;
    font-size: 20px;
    font-weight: 600;
}
.subscribe-button{
    position: absolute;
        width: 199px;
        height: 56px;
        margin-left: 48px;
        top: 160px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 48px;
        color: #FA5E01;
        background: #FFFFFF;
        margin-bottom: 20px;
    }
    
    .subscribe-button:hover {
        border: 2px solid #FA5E01;
        background: #FA5E01;
        color: #FFFFFF;
    }