.banner-content {
    position: absolute;
        width: 1920px;
        height: 990px;
        left: 0px;
        top: 100px;
}

.top-horizontal-line img{
position: absolute;
    width: 34px;
    height: 0px;
    left: 280px;
    top: 192px;
 border: 2px solid #FFFFFF;
}
.top-text{
position: absolute;
    width: 171px;
    height: 19px;
    left: 280px;
    top: 228px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.banner-left-content h1{
    position: absolute;
        width: 621px;
        height: 180px;
        left: 280px;
        top: 358px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
         color: #FFFFFF;
}
.banner-left-content p{
    position: absolute;
        width: 533px;
        height: 80px;
        left: 280px;
        top: 586px;
     font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 40px;
        /* or 154% */
    
    margin-bottom: 355px;
        color: #FFFFFF;
}
.apply-btn{
position: absolute;
    width: 237px;
    height: 70px;
    left: 280px;
    top: 730px;
margin-bottom: 90px;
    background: #FA5E01;
    
}
.apply-btn:hover{
    color: #FA5E01;
    cursor: pointer;
    border: 2px solid #FA5E01;
    background: #FFFFFF;
}
.circle-btn{
position: absolute;
    width: 120px;
    height: 120px;
    left: 1200px;
    top: 362px;

    
}
.banner-right-content h4{
        position: absolute;
            width: 197px;
            height: 38px;
            left: 1344px;
            top: 362px;
        
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
        
            color: #FFFFFF;
}
.banner-right-content h3 {
    position: absolute;
        width: 186px;
        height: 100px;
        left: 1344px;
        top: 408px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 50px;
        /* or 114% */
    
    
        color: #FFFFFF;
}
.banner-right-content p {
    position: absolute;
        width: 152px;
        height: 19px;
        left: 1344px;
        top: 516px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
    
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.line-1 .line-2 .line-3{
position: absolute;
    width: 300px;
    height: 0px;
   margin: auto;
    margin-top: 266px;
border: 3px solid red;
}
/* ----------------------card---------------------- */
.card-1 img{
    Width: 57.3px;
     height: 58.98px;
      margin-top: 52px;
    margin-left: 51.85px;
    margin-bottom: 62px;
}
.card-1{
position: absolute;
    width: 480px;
    height: 400px;
    left: 0px;
    top: 890px;

    background: #FFFFFF;
}
.card-1 h1{
    position: absolute;
        width: 286px;
        height: 180px;
        left: 48px;
        top: 172px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #25201D;
     
}
.card-2{
    position: absolute;
        width: 480px;
        height: 400px;
        left: 480px;
        top: 890px;
         background: #FA5E01;
}
.card-2 img {
    Width: 57.3px;
    height: 58.98px;
    margin-top: 52px;
    margin-left: 51.85px;
}
.card-2 h1 {
width: 286px;
    height: 180px;
    margin-left: 48px;
    margin-top: 62px;
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
       color: #FFFFFF;
}
.card-3 {
    position: absolute;
        width: 480px;
        height: 400px;
        left: 960px;
        top: 890px;
    
        background: #FFFFFF;
}
.card-3 img {
    Width: 57.3px;
    height: 58.98px;
    margin-top: 52px;
    margin-left: 51.85px;
}
.card-3 h1{
    width: 286px;
    height: 180px;
    margin-left: 48px;
    margin-top: 62px;
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #25201D;
}
.card-4 {
    position: absolute;
        width: 480px;
        height: 400px;
        left: 1440px;
        top: 890px;
    
        /* primary */
    
        background: #FA5E01;
}
.card-4 img {
    Width: 57.3px;
    height: 58.98px;
    margin-top: 52px;
    margin-left: 51.85px;
}
.card-4 h1{
        width: 286px;
        height: 180px;
        margin-left: 48px;
        margin-top: 62px;
        font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
         color: #FFFFFF;
}