.teacher-container img{
    position: absolute;
        width: 150px;
        height: 0px;
        left: 280px;
        top: 3663px;
        border: 5px solid #FA5E01;
}
/* .social-logo{
    display: none;
}
.teacher-content:hover + .social-logo{
display: block;
} */
.teacher-container h1{
    position: absolute;
width: 400px;
height: 82px;
left: 280px;
top: 3683px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;
color: #25201D;
}
.arrow-1 {
    box-sizing: border-box;
    
        position: absolute;
        width: 82px;
        height: 82px;
        left: 1477px;
        top: 3683px;
    
        background: #FFFFFF;
        border: 1px solid #E3E2E1;
    
}
.arrow-2{
    box-sizing: border-box;
    
        position: absolute;
        width: 82px;
        height: 82px;
        left: 1558px;
        top: 3683px;
    
        background: #FFFFFF;
        border: 1px solid #E3E2E1;
}
.arrow-1 img{
   
    position: absolute;
        left: 12.5%;
        right: 12.5%;
        top: 33.33%;
        bottom: 33.33%;
        width: 36px;
        height: 16px;
       margin: auto;
    border: 3px solid #929292;
}
.arrow-2 img{
border: 3px solid #FA5E01;
position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 33.33%;
    bottom: 33.33%;
    margin: auto;
    width: 36px;
    height: 16px;
       
}


.teacher-1 img{
    position: absolute;
        width: 440px;
        height: 440px;
        left: 280px;
        top: 3835px;
}
.teacher-1 h1{
    position: absolute;
        width: 226px;
        height: 46px;
        left: 280px;
        top: 4299px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 46px;
    
        /* text */
    
        color: #25201D;
}
.teacher-1 p{
    position: absolute;
        width: 156px;
        height: 25px;
        left: 280px;
        top: 4363px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
    
    
        color: #41403F;
}
.teacher-2 img {
    position: absolute;
        width: 440px;
        height: 440px;
        left: 740px;
        top: 3835px;
}

.teacher-2 h1 {
    position: absolute;
        width: 238px;
        height: 46px;
        left: 740px;
        top: 4299px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 46px;
    
        /* text */
    
        color: #25201D;
}

.teacher-2 p {
    position: absolute;
        width: 98px;
        height: 25px;
        left: 740px;
        top: 4363px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
    
    
        color: #41403F;
}
.teacher-3 img {
position: absolute;
    width: 440px;
    height: 440px;
    left: 1200px;
    top: 3835px;
}

.teacher-3 h1 {
position: absolute;
    width: 189px;
    height: 46px;
    left: 1200px;
    top: 4299px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;

    /* text */

    color: #25201D;
}

.teacher-3 p {
    position: absolute;
        width: 138px;
        height: 25px;
        left: 1200px;
        top: 4363px;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #41403F;
}
.left-arrow{
position: absolute;
margin-left: 330px;
border: 3px solid #FFFFFF;

}
.arrow{
    display: none;
    position: absolute;
    margin-left: 330px;
    border: #25201D;
}
.see-teacher-content{
position: absolute;
    width: 1360px;
    height: 130px;
    left: 280px;
    top: 4458px;
background: #FFFFFF;
}
.see-teacher-content p{
    position: absolute;
        width: 383px;
        margin: auto;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    color: #FA5E01;
}
.see-teacher-content:hover p{
   
padding-left: 490px;
padding-top: 40px;
    height: 130px;
    width: 1360px;
    color: #FFFFFF;
    background: #FA5E01;
}
.see-teacher-content:hover .left-arrow{
    display: none;
}
.see-teacher-content:hover .arrow {
    display: block;
}
.facebook img{
   top:4199px;
    bottom: 28px;
    margin-left: 768px;
    position: absolute;
       width: 48px;
    
}
.twitter {
    top: 4199px;
        bottom: 28px;
        margin-left: 846px;
        position: absolute;
        width: 48px;
}
.linkedin img{
    top: 4199px;
        bottom: 28px;
        margin-left: 924px;
        position: absolute;
        width: 48px;
}
.google img{
    top: 4199px;
        bottom: 28px;
        margin-left: 1002px;
        position: absolute;
        width: 48px;
}